%h1.text-center #{t('assign_car')}
- if @form.errors.any?
  .error
    %h5.text-center
      = t('error')
      - @form.errors.full_messages.each do |message|
        %h6.text-center
          &#9899; #{message}
= form_for @model, as: 'car_assignment', url: {action: 'create'} do |form|
  .row.justify-content-md-center.text-center
    .col-md-4
      .order_form_area
        .form-group
          = form.collection_select :car_id, Car.all, :id, :car_info, {prompt: false}, {class: 'form-control'}
        %p
          = form.submit t('submit'), class: 'btn btn-primary'
