.row.justify-content-md-center.text-center
  .col-sm-4
    %h2
      #{t('order_number')}:
      = @model.id
    %ul.list-group
      %li.list-group-item
        %b
          #{t('activerecord.attributes.order.name')}:
        = @model.client_name
      %li.list-group-item
        %b
          #{t('activerecord.attributes.order.phone')}:
        +375-#{@model.client_phone}
      %li.list-group-item
        %b
          #{t('activerecord.attributes.order.start_point')}:
        = @model.start_point
      %li.list-group-item
        %b
          #{t('activerecord.attributes.order.end_point')}:
        = @model.end_point
      %li.list-group-item
        %b
          #{t('activerecord.models.tax')}:
        = @model.tax.nil? ? 'Укажите тариф.' : @model.tax.name
      -unless @model.car.nil?
        %li.list-group-item
          %b
            #{t('car')}:
          #{@model.car.brand} #{@model.car.car_model}, #{@model.car.reg_number}
      -else 
        %li.list-group-item
          = link_to t('assign_car'), new_admin_order_car_assignment_path(@model.id), class: 'btn btn-primary btn-sm'
      -unless @model.order_status.nil?
        %li.list-group-item
          %b
            #{t('status')}:
          = t("order_status.#{@model.order_status}")
      -unless @model.invoice.nil?
        %li.list-group-item
          %b
            #{t('activerecord.models.invoice')}:
          #{@model.invoice.total_price} (#{t('indebtedness')}: #{@model.invoice.indebtedness})
          %div/
          (#{t("invoice_status.#{@model.invoice.invoice_status}")})
      -else
        - if @model.car_id
          = link_to t('add_invoice'), new_admin_order_invoice_path(@model.id), class: 'btn btn-outline-success btn-sm'
        = link_to t('edit'), edit_admin_order_path(@model.id), style: 'float: right', class: 'btn btn-outline-primary btn-sm'
        - if current_user.role != 'driver'
          = link_to t('delete'), admin_order_path(@model), method: :delete, data: { confirm: t('confirmation') }, style: 'float: right', class: 'btn btn-outline-danger btn-sm'
