- if @form.errors.any?
  .error
    %h5.text-center
      = t('error')
      - @form.errors.full_messages.each do |message|
        %h6.text-center
          &#9899; #{message}
%h2.text-center
  = t('edit_invoice')
  %h4#notice.text-center.error= notice
.row.justify-content-md-center.text-center
  .col-md-3
    .order_form_area
      %p
        %b
          #{t('activerecord.attributes.billing.distance')}:
        #{@model.distance}
      %div/
      %p
        %b
          #{t('total_price')}:
        #{@model.total_price}
      %div/
      %p
        %b
          #{t('activerecord.attributes.billing.payed_amount')}:
        #{@model.payed_amount.round(2)}
      %div/
      %p
        %b
          #{t('indebtedness')}:
        #{@model.indebtedness.round(2)}
      = form_for @model, url: {action: 'update'} do |form|
        .form-group
          .input-group
            %span.input-group-text #{form.label t('surcharge')}
            = form.number_field :additional_amount, class: 'form-control', value: @model.indebtedness, step: :any
        .form-group
          %p
            = form.submit t('submit'), class: 'btn btn-primary'
