- if @form.errors.any?
  .error
    %h5.text-center
      = t('error')
      - @form.errors.full_messages.each do |message|
        %h6.text-center
          &#9899; #{message}
%h1.text-center
  =t('activerecord.models.invoice')
%h4.text-center.error#notice= notice
= form_for @model, url: {action: 'create'} do |form|
  .row.justify-content-md-center.text-center
    .col-md-3
      .order_form_area
        .form-group
          = form.label t('activerecord.attributes.billing.distance')
          = form.number_field :distance, class: 'form-control', step: :any, min: 0
        .form-group
          = form.label t('activerecord.attributes.billing.payed_amount')
          = form.number_field :payed_amount, value: '', class: 'form-control', step: :any, min: 0
        %p
          = form.submit t('add_invoice'), class: 'btn btn-primary'
