%h1.text-center
  =t('activerecord.models.invoice')
%h4.text-center.error#notice= notice
= form_for @billing, url: {action: 'create'} do |form|
  .row.justify-content-md-center.text-center
    .col-md-3
      .order_form_area
        .form-group
          = form.label t('activerecord.attributes.billing.distance')
          = form.number_field :distance, class: 'form-control', step: :any
        .form-group
          = form.label t('activerecord.attributes.billing.payed_amount')
          = form.number_field :payed_amount, value: '', class: 'form-control', step: :any
        %p
          = form.submit t('add_invoice'), class: 'btn btn-primary'
