- if @form.errors.any?
  .error
    %h5.text-center
      = t('error')
      - @form.errors.full_messages.each do |message|
        %h6.text-center
          &#9899; #{message}
.row.justify-content-md-center.text-center
  .col-md-3
    .order_form_area
      = form_for [:admin, @model] do |f|
        .form-group
          = f.label :first_name, 'Имя'
          %br/
          = f.text_field :first_name, autofocus: true, class: 'form-control'
        .form-group
          = f.label :last_name, 'Фамилия'
          %br/
          = f.text_field :last_name, class: 'form-control'
        .form-group
          = f.label :phone, 'Телефон'
          %br/
          .input-group
            %span.input-group-text +375
            = f.text_field :phone, placeholder: '25-123-45-67', class: 'form-control'
        .form-group
          = f.label :email, 'Email'
          %br/
          = f.email_field :email, class: 'form-control'
        .form-group
          = f.label :password, 'Пароль'
          %br/
          = f.password_field :password, class: 'form-control'
        .form-group
          = f.label :password_confirmation, 'Подтверждение пароля'
          %br/
          = f.password_field :password_confirmation, class: 'form-control'
        .form-group
          = f.label :affiliate, 'Филиал'
          %br/
          = f.hidden_field :language, value: 'Russian'
          = f.collection_select :affiliate_id, Affiliate.all, :id, :name, {:prompt=>true}, {:class=>'form-control'}
        .form-group
          .input-group.language
            %span.input-group-text.span-margin= t('activerecord.attributes.user.role')
            = f.select(:role, User::ROLES.each {|role| [t("role.#{role}"),role]}, {}, {:class=>'form-control'})
        .form-group
          = f.submit t('submit'), class: 'btn btn-primary'
          = link_to t('back'), admin_users_path, class: 'btn btn-secondary'
