- if @form.errors.any?
  .error
    %h5.text-center
      = t('error')
      - @form.errors.full_messages.each do |message|
        %h6.text-center
          &#9899; #{message}


= form_for [:admin, @model] do |form|
  .row.justify-content-md-center.text-center
    .col-md-4
      .order_form_area
        .form-group
          = form.label :name
          = form.text_field :name, class: 'form-control'
        .form-group
          = form.label :address
          = form.text_field :address, class: 'form-control'
        .actions
          = form.submit t('submit'), class: 'btn btn-primary'
          = link_to t('back'), admin_affiliates_path, class: 'btn btn-secondary'
