.row.justify-content-md-center.text-center
  .col-sm-4.car-item
    %h2 #{@model.name}
    %h4 #{t('address')}: #{@model.address}
    %h4 #{t('affiliate_personal')}: #{@model.users.where.not(role: :client).count} (#{link_to t('order_info'), admin_show_affiliate_workers_path(@model)})
    = link_to t('edit'), edit_admin_affiliate_path(@model), class: 'btn btn-outline-info btn-sm'
    = link_to t('delete'), admin_affiliate_path(@model), method: :delete, data: { confirm: 'You are sure?' }, class: 'btn btn-outline-danger btn-sm'
    = link_to t('back'), admin_affiliates_path, class: 'btn btn-secondary btn-sm'
%section.car
  - unless @model.cars.empty?
    %h2
      = t('cars')
      = link_to t('new_car'), new_admin_car_path, class: 'btn btn-outline-success pull-right'
    %p#notice= notice
    .row.car-item
      - @model.cars.each do |car|
        - cache car do
          .col-sm-4.car-item
            %ul.list-group
              %li.list-group-item
                %b
                  #{t('activerecord.attributes.car.brand')}:
                = car.brand
              %li.list-group-item
                %b
                  #{t('activerecord.attributes.car.model')}:
                = car.car_model
              %li.list-group-item
                %b
                  #{t('activerecord.attributes.car.reg_number')}:
                = car.reg_number
              %li.list-group-item
                %b
                  #{t('activerecord.attributes.car.color')}:
                = car.color
              %li.list-group-item
                %b
                  #{t('activerecord.attributes.car.style')}:
                = car.style
              %li.list-group-item
                %b
                  #{t('activerecord.attributes.car.affiliate')}:
                = car.affiliate.name
              %li.list-group-item
                %b
                  #{t('activerecord.attributes.car.status')}:
                = t("car_status.#{car.car_status}")
            = link_to t('edit'), edit_admin_car_path(car), class: 'btn btn-outline-info btn-sm'
            = link_to t('delete'), admin_car_path(car), method: :delete, data: { confirm: t('confirmation') }, class: 'btn btn-outline-danger btn-sm'

